@import "../../../styles/response.scss";
.categories-wrap {
  @include mobile {
    display: none;
  }
  background: #f3f3f3;
  padding-top: 30px;
  .categories {
    max-width: 1200px;
    margin: 0 auto;
    background: #fff;

    .title {
      padding: 10px 0 10px 10px;
      border: 1px solid #f3f3f3;
      h3 {
        text-transform: uppercase;
      }
    }

    .list-category {
      display: flex;
      flex-wrap: wrap;
      .category-item {
        display: flex;
        justify-content: center;
        width: 10%;
        border: 1px solid #f3f3f3;
        transition: all 0.2s;

        &:hover {
          border: 0 solid transparent;
          box-shadow: 0 0 20px #999;

          a {
            img {
              filter: none;
              opacity: 1;
            }
          }
        }
        a {
          display: flex;
          align-items: center;
          flex-direction: column;
          text-align: center;
          padding: 26px 0;
          color: #666;
          font-size: 1.2rem;

          @include tablet {
            font-size: 1.1rem;
          }

          img {
            width: 80px;
            height: 100%;
            object-fit: cover;
            filter: grayscale(100);

            @include tablet {
              width: 60px;
            }
          }
        }
      }
    }
  }
}
